<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
 <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/assets/icons/favicon.svg" />
<link rel="shortcut icon" href="{{site.baseurl}}/assets/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/icons/apple-touch-icon.png" />
<link rel="manifest" href="{{site.baseurl}}/assets/icons/site.webmanifest" />

<!-- end custom head snippets -->
